body {
  background-color: #141414;
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.card {
  background-color: #1f1f1f;
  padding: 2rem;
  border-radius: 12px;
  text-align: center;
  width: 90%;
  max-width: 320px;
}

.profile {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.name {
  margin: 0;
  font-size: 1.7rem;
  font-weight: bold;
  color: white;
}

.location {
  margin: 0.3rem 0;
  margin-bottom: 2.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #d1ff5c;
}

.bio {
  font-size: 1rem;
  margin: 1rem 0 1.5rem;
  color: #ccc;
}

.links a {
  display: grid;
  margin: 0.9rem 0;
  padding: 0.7rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  background-color: #333;
  color: white;
  border-radius: 8px;
  transition: background 0.3s;
}

.links a:hover {
  background-color: #555;
}

@media (max-width: 400px) {
  .card {
    padding: 1.5rem;
  }
  .name {
    font-size: 1.2rem;
  }
  .bio {
    font-size: 0.8rem;
  }
}
